@font-face
{
font-family: Timeless;
src: url(Timeless.ttf);
}

@font-face
{
font-family: LANECANE;
src: url(LANECANE.ttf);
}

h1 {
    font-family: LANECANE, monospace;
    color: #FC6856;
}

h2 {
    font-family: Timeless, monospace;
    color: #1ABC9C;
}


p {
    font-family: Timeless, monospace;
    color: #000000;
    text-align: left;
    margin-right: 15%;
    margin-left: 15%;
}

body {
    background-color: #F1F1F1;
    text-align: center;
}

input[type=radio] {
    margin:10px;
}

input[type=checkbox] {
    margin:10px;
}

input[type=submit] {
    margin:10px;
    background-color: #1ABC9C;
    font-family: Timeless, monospace;
    color: white;
    font-size: 120%;
}
